.createQuestionPage{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


.createQuestionContent{
    width: 700px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    row-gap: 40px;
    background-color: white;
    padding:10px;
}

.createQuestionContentQuestionType,
.createQuestionContentSubmitCancel,
.createQuestionContentQuestionNameInput,
.questionOptionsWithAddBtn,
.createQuestionContentQuestionButton,
.optionType,
.createQuestionContentOptionWithTimer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border:solid yellow; */
    width:100%;
}

.createQuestionContentQuestionButton{
  justify-content: space-between;
  width:90%;
}

.createQuestionContentQuestionButton p{
  color: grey;
  font-size: 20px;
}
.optionType{
    width:500px;
}

.optionType label{
  font-size: 20px;
}


.button-container {
  display: flex;
  gap: 10px;
}


.questionCircleButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:white;
  /* color: #fff; */
  border: none;
  /* border: solid purple; */
  box-shadow: 0 0 25px 0 rgba(0,0,0,.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.questionCircleButton.active{
  box-shadow: 0 0 25px 0 rgba(66, 245, 6, 0.998);
}

.plus-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #34a853;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createQuestionQuestionRemoveButton{
  /* background-color:red; */
  width:20px;
  height:20px;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left:30px;
  bottom:38px;
  
}


#questionNameInput{
    width:80%;
    height:50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
}

#questionTypeText{
    font-size: large;
    color:grey;
}


.radio-input {
    padding: 7px;
    margin: 0 5px 0 0;
    cursor: pointer;
    width: 120px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    border-radius: 5px; /* Border radius for rounded corners */
    background-color: white; /* Background color of the button */
    color: grey; /* Text color */
    border:none;
  }
  
  .radio-input:hover {
    background-color: #f0f0f0; /* Background color on hover */
  }
  
  .radio-input.active {
    background-color: #4CAF50; /* Background color when selected */
    color: white; /* Text color when selected */
  }
  

  .radio-buttonOption {
    padding: 5px;
    margin: 2px;
    height: 30px;
    width:150px;
    cursor: pointer;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.35);
    border-radius: 5px; /* Border radius for rounded corners */
    background-color: white; /* Background color of the button */
    border:none;
  }
  
  .radio-buttonOption:hover {
    background-color: #f0f0f0; /* Background color on hover */
  }
  
  .radio-buttonOption.active {
    background-color: #4CAF50; /* Background color when selected */
    color: white; /* Text color when selected */
  }
  
  .createQuestionContentOptionWithTimer{
    justify-content: space-between;
    width:90%;
  }

  .questionOptionsWithAddBtn{
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* border:solid blue; */

  }


  .radio-buttonTimerOption{
    padding: 5px;
    margin: 2px;
    /* height: 30px;
    width:150px; */
    cursor: pointer;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.35);
    border-radius: 5px; /* Border radius for rounded corners */
    background-color: white; /* Background color of the button */
    border:none;
    text-align: center;
    color:black;
    font-weight: normal;
  }

  .radio-buttonTimerOption.active{
    background-color: red; /* Background color when selected */
    color: white; /* Text color when selected */
  }

.questionOptions{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* border: solid red; */
    padding:10px;
}



.createQuestionAddOption{
    width: 180px;
    height: 30px;
    margin: 20px 0 0 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.35);
    /* background-color: white; */
}

 #createQuestionContentCancelBtn, 
 #createQuestionContentSubmitBtn{
    width: 180px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4CAF50;
    border: none;
    color:white;
  }

  #createQuestionContentCancelBtn{
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    background-color: white;
    color:black;
  }


  @media (max-width:550px){

    .createQuestionContent{
        width:98%;
        height:auto;
        padding:20px 0;
        row-gap: 10px;
    }

    .createQuestionContentQuestionType,
    .createQuestionContentSubmitCancel,
    .createQuestionContentQuestionNameInput,
    .optionType{
      
        width:100%;
        /* border:solid pink; */
    }


    .questionCircleButton {
      width: 30px;
      height: 30px;
    
    }
    
    .plus-button {
      width: 30px;
      height: 30px;
      
    }


    .createQuestionQuestionRemoveButton{
      /* background-color:red; */
      width:10px;
      height:10px;
      left:18px;
      bottom:30px;
      /* font-weight: normal; */
    }

    .createQuestionContentQuestionButton{
      /* justify-content: space-between; */
      width:98%;
    }
    .createQuestionContentQuestionButton p{
      color: grey;
      font-size: 15px;
    }
    
    #questionTypeText{
      font-size: small;
      color:grey;
      height:5px;
  }

  .optionType label{
    font-size: 15px;
  }

    .createQuestionContentQuestionType{
      
      flex-direction: column;

  }
    
    #questionNameInput{
        width:90%;
      
    }

    .createQuestionContentOptionWithTimer{
      flex-direction: column;
      justify-content: space-between;
      width:90%;
    }
  

    .createQuestionOptions{
      display: flex;
      flex-direction: column;
      /* border:solid greenyellow; */
      /* width:100%; */
      row-gap: 10px;
      margin:10px 10px;
    
      
    }

    .createQuestionOption{
      display: flex;
      /* flex-direction: column; */
      /* align-items: start; */
    }

    .createQuestionOption input:nth-child(2),
    .createQuestionOption input:nth-child(3){
      width:100%;
    }
  
    
    .createQuestionTimer {
      width:80%;
      margin: 0 0 15px 0;
    }

    .createQuestionTimer p{
      font-size: 15px;
    }

    .questionTimer{
      display: flex;
      justify-content: space-evenly;
      width:100%;
      /* border:solid red; */
      /* flex-direction: row; */
    }

    .radio-buttonTimerOption{
      width:70px;
    
    }

  
    .createQuestionAddOption{
      width: 150px;
      height: 30px;
      margin: 10px 0 0 20px;

  }
  
    .radio-button {
        width: 80px;
      }
      
      #createQuestionContentCancelBtn, 
     #createQuestionContentSubmitBtn{
        width: 100px;

      }
    
  }